
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Home</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <nav>
      <a href="/">Home</a>
      <a href="/user">Users</a>
      <a href="/products">Products</a>
      <a href="/products/above3">Products Above PID 3</a>
   </nav>
   <h1>Hello !! This is the the homepage.</h1>
   <p>Explore:</p>
   <ul>
      <li><a href="/user">View Users</a></li>
      <li><a href="/products">View Products</a></li>
      <li><a href="/products/above3">View Products with PID > 3</a></li>
   </ul>
</body>
</html>

