
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Products</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <nav>
      <a href="/">Home</a>
      <a href="/user">Users</a>
      <a href="/products">Products</a>
      <a href="/products/above3">Products Above PID 3</a>
   </nav>
   <h1>Products List</h1>
   <table id="productTable">
      <tr>
         <th>PID</th>
         <th>Name</th>
         <th>Price</th>
      </tr>
   </table>
   <script src="/products.js"></script>
</body>
</html>
