
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Products with PID greater than 3</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <nav>
      <a href="/">Home</a>
      <a href="/user">Users</a>
      <a href="/products">Products</a>
      <a href="/products/above3">Products with PID greater than 3</a>
   </nav>
   <h1>Products with PID Above 3</h1>
   <table id="productAbove3Table">
      <tr>
         <th>PID</th>
         <th>Name</th>
         <th>Price</th>
      </tr>
   </table>
   <script src="/productsAbove3.js"></script>
</body>
</html>
